{% extends 'base.html.twig' %}

{% block title %}Song index{% endblock %}
{%  block sliders %}{% endblock %}
{% block body %}
   
   <div class="featured pad" id="featuredalbum">
	<div class="container">
					
		    <div class="default-heading">
						
						<h2>♪SONGS♪</h2>
		    </div>
	
							
            <div class="featured-element">
					<div class="row">
                        {% for song in songs %}
							<div class="col-md-3 col-sm-3">
								<div class="featured-item ">
                              
									<div class="figure">
										
										<img class="img-responsive" width="200" height="200" src="{{ asset('uploads/images/' ~ song.coverimage) }} " alt="img" />
									</div>
									
									<div class="featured-item-info">

<table style="width:200px">
   <tr>
    <td> <h5 class="card-title" style="color:gray;" >Title :</h5></td>
    <td> <h5 class="card-title"  >{{ song.title }}</h5></td>
   </tr>
   <tr>
    <td> <h5 class="card-title" style="color:gray;" >Artiste :</h5></td>
    <td> <h5 class="card-title"  >{{ song.artiste.name }}</h5></td> 
  </tr>


    <tr>
    <td> <h5 class="card-title" style="color:gray;" >Album :</h5></td>
    <td> <h5 class="card-title"  >{{ song.album }}</h5></td>
   </tr>
   

  

  <tr>
    <td> <h5 class="card-title" style="color:gray;" >length :</h5></td>
    <td> <h5 class="card-title"  >{{ song.length }}</h5></td> 
  </tr>

 

</table>
										
                                       
                  <a href="{{ path('song_show', {'id': song.id}) }}" class="btn btn-primary" style="width: 95px;">SHOW</a>
                              <a href="{{ path('song_edit', {'id': song.id}) }}" class="btn btn-info" style="width: 95px;">EDIT</a>
									
                                    </div>
								</div>
							</div>

							
           

						{% endfor %}
	
          
					</div>
					
<div class="navigation" style="margin:20px auto; width:300px;" >
{{ knp_pagination_render(songs)}}

</div>





   <a href="{{ path('song_new') }}" class="btn btn-danger">Create new</a>

				</div>    

	</div>
   </div>  
                   
                  

                   
                     

                     
   

{% endblock %}


